body {
    font-family: 'Nunito', sans-serif;
    background: rgb(255,254,254);
background: linear-gradient(0deg, rgba(255,254,254,0.8832575266434699) 5%, rgba(141,137,137,1) 100%);
}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.buttonId {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.cards {
    border: 2px gray solid;
    box-shadow: 6px 5px 5px 0px gray;
    border-radius: 10px;
    flex: 0 0 25%;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color:black;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.color {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
}

.specialskills {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
}

.cards h2 {
    border: 1px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 1px;
    background-color: gray;
    text-align: center;
    display: block;
    font-family: 'Nunito', sans-serif;
}
.center {
    border: solid 1px gray;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    width: 80%;
  } 

#pet-adoption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards img {
    height: 166px;
    width: 200px;
}
.dog {
    background-color: lightseagreen;
    border: lightseagreen 10px solid;
    border-radius: 2px;
    color: aqua;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
}
.dinosaur {
    background-color: mediumseagreen;
    border: mediumseagreen 10px solid;
    border-radius: 2px;
    color:darkgreen;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
}
.cat {
    background-color: darkgoldenrod;
    border: darkgoldenrod 10px solid;
    border-radius: 2px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
}
.all {
    background-color: black;
    border: white 10px solid;
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
}


